<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blog.mapper.postgresql.PFeatureMapper">
    <select id="listFeatures" resultType="com.example.blog.entity.FeatureEntity">
        select * from feature
    </select>

    <select id="getTotalRows" resultType="Integer">
        select count(*) from driver
        <!--<where>-->
        <!--&lt;!&ndash; 重复说一下，id 不能是 int，int 默认是 0，不可能是 null, 而 Integer 可以是 null&ndash;&gt;-->
        <!--<if test="id!=null">-->
        <!--id=#{id}-->
        <!--</if>-->
        <!--<if test="name!=null">-->
        <!--and name=#{name}-->
        <!--</if>-->
        <!--</where>-->
    </select>

    <insert id="saveFeature">
        insert into
        <include refid="chooseTable"></include>
        (
        name, id, type, city,geom,geotext
        <if test="radius!=null">
            ,radius
        </if>
        )values(
        #{name},#{id},#{type},#{city},st_geomfromtext(#{geometry}),#{geometry}
        <if test="radius!=null">
            ,#{radius}
        </if>
        )
    </insert>

    <delete id="deleteFeature">
        delete from
        <include refid="chooseTable"></include>
         where id= #{regId};
    </delete>

    <update id="updateFeature">
        UPDATE
        <include refid="chooseTable"></include>
        SET
        type = #{type},
        name = #{name},
        city = #{city},
        <if test="radius!=null">
          radius = #{radius},
        </if>
        geom = st_geomfromtext(#{geometry})
        WHERE id = #{id};
    </update>

    <sql id="chooseTable">
        <if test="type=='Point'">
            f_point
        </if>
        <if test="type=='LineString'">
            f_linestring
        </if>
        <if test="type=='Polygon'">
            f_polygon
        </if>
        <if test="type=='Circle'">
            f_circle
        </if>
    </sql>
</mapper>

