<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blog.mapper.postgresql.PostMapper">
    <select id="getXZQ" resultType="com.example.blog.entity.XZQ">
        SELECT * FROM "510100" WHERE gid=#{pk}
    </select>
</mapper>

