#map {
    width: 100%;
    height: 100%;
    position: absolute;
    /*z-index: 999;*/
}
.containerBack {
    width: 240px;
    height: 200px;
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 30px;
    opacity: 0.5;
    background-color: #D9D8D7;
}
.frontPic {
    width: 88px;
    height: 30px;
    position: absolute;
    z-index: 1000;
    top: 80px;
    right: 30px;
    background-color: #D9D8D7;
    opacity: 0.8;
    text-indent: 11px;
    line-height: 30px;
    font-size: 15px;
}
.closeDiv{
    width: 152px;
    height: 30px;
    position: absolute;
    z-index: 1000;
    top: 80px;
    right: 118px;
    background-color: #D9D8D7;
    opacity: 0.8;
    font-size: 15px;
}
.applyContainer{
    width: 240px;
    height: 170px;
    position: absolute;
    z-index: 1000;
    top: 110px;
    right: 30px;
    font-size: 13px;
    box-shadow: 0px 0px 10px #757770;
}

.applyContainer ul li{
    margin-top: 3px;
}

div{
    display: block;
}

/*对话框样式设置*/

#dialog-form {
    font-size: 62.5%;
}

#dialog-form input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: 0.4em;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

.ui-dialog .ui-state-error{
    padding: .3em;
}

.validateTips{
    border:1px solid transparent;
    padding: 0.3em;
}
/*wfs背景*/
.featureWfs {
    width: 240px;
    height: 500px;
    position: absolute;
    z-index: 999;
    top: 80px;
    left: 30px;
    opacity: 0.8;
    background-color: #D9D8D7;
}
#jstree {
    width: 240px;
    height: 500px;
    position: absolute;
    z-index: 1000;
    top: 80px;
    left: 30px;
}

/*#dialog-display{*/
    /*height: auto; width: 500px; top: 48px; left: 1400px;*/
/*}*/
/*编辑工具条样式*/
.leaflet-control {
    width: 80px;
    height: 200px;
    position: absolute;
    z-index: 999;
    top: 320px;
    right: 30px;
    opacity: 0.8;

    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    /*float: right;*/
    cursor: auto;
    clear: both;
    /*position: relative;*/
    /*z-index: 1800;*/
    pointer-events: visiblePainted;
    pointer-events: auto;
    /*background-color: #0a6aa1;*/
}
.leaflet-draw a {
    display: block;
    text-align: center;
    text-decoration: none;

    /*background-position: 50% 50%;*/
    /*background-repeat: no-repeat;*/
    /*display: block;*/

    /*background-color: #fff;*/
    border-bottom: 1px solid #ccc;
    width: 32px;
    height: 32px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;

    -webkit-tap-highlight-color: rgba(51,181,229,.4);
}

/*.featureWfs {*/
    /*width: 240px;*/
    /*height: 500px;*/
    /*position: absolute;*/
    /*z-index: 999;*/
    /*top: 80px;*/
    /*left: 30px;*/
    /*opacity: 0.8;*/
    /*background-color: #D9D8D7;*/
/*}*/
/*对应工具图片*/
.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/polyline.png");
}
.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/polygon.png");
}
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/rectangle.png");
}
.leaflet-draw-toolbar .leaflet-draw-draw-circle {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/circle.png");
}
.leaflet-draw-toolbar .leaflet-draw-draw-marker {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/marker.png");
}
.leaflet-draw-toolbar .leaflet-draw-draw-circlemarker {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/circlemarker.png");
}
.leaflet-draw-toolbar .leaflet-draw-edit-add {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/add.png");
}
.leaflet-draw-toolbar .leaflet-draw-edit-edit {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/edit.png");
}
.leaflet-draw-toolbar .leaflet-draw-edit-remove {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/delete.png");
}
.leaflet-draw-toolbar .leaflet-draw-edit-measureLength {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/length.png");
}
.leaflet-draw-toolbar .leaflet-draw-edit-measureArea {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…RgmJoONay7mzbuWnlo4amZH5o47jHsrdEJUWpu4/+a5iPAAHPyCihdbfhJAAAAAElFTkSuQmCC);*/
    background-image: url("/images/toolbar/area.png");
}

/*工具栏编辑框*/
/*.leaflet-control {*/
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    /*float: right;*/
    /*cursor: auto;*/
    /*clear: both;*/
    /*position: relative;*/
    /*z-index: 8000;*/
    /*pointer-events: visiblePainted;*/
    /*pointer-events: auto;*/
/*}*/
.toolbarContainer{
    width: 140px;
    height: 200px;
    position: absolute;
    z-index: 999;
    top: 280px;
    right: 30px;
    opacity: 0.8;
    background-color: #D9D8D7;
}
.leaflet-draw{
    width: 140px;
    height: 200px;
    position: absolute;
    z-index: 1999;
    top: 280px;
    right: 30px;
}
.leaflet-bar a {
    width: 30px;
    height: 30px;
    line-height: 30px;

    display: block;
    text-align: center;
    text-decoration: none;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    /*background-image: url(data:image/png;images/air.png);*/
    background:url(/images/air.png)
}

.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0,0,0,.65);
    border-radius: 4px;
}

.leaflet-draw-actions-top {
    margin-top: 1px;
}
.leaflet-draw-actions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 26px;
    top: 0;
    white-space: nowrap;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.leaflet-draw-actions a {
    background-color: #919187;
    border-left: 1px solid #aaa;
    color: #fff;
    font: 11px/19px Helvetica Neue,Arial,Helvetica,sans-serif;
    line-height: 28px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
}
/*下方编辑栏*/
.nav {
    position: absolute;
    /*bottom: 0;*/
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav > .item {
    float: left;
    width: 150px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    color: yellow;
    margin-right: 3px;
    transition: all 0.1s ease-in;
    font-size: 18px;
}

.tool {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1001;
    width: 120px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    display: none;
}

/*历史轨迹选项*/
/*#historyOptions {*/
    /*width: 250px;*/
    /*height: 100px;*/
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*left: 20px;*/
/*}*/
/*历史轨迹选项容器*/
#historyOptions {
    width: 260px;
    height: 110px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: #D9D8D7;
    opacity: 0.8;
}

/*路径规划选项样式*/

#pathPlanningOps {
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 15%;
    left: 6%;
    background: #ffffff;
    opacity: 0.8;

    z-index: 20010;
}

#pathPlanningOps ul{
    width: 100%;
    padding: 6px 2px 0 2px;
    list-style: none;
}

#pathPlanningOps>ul>li{
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

#pathPlanningOps>ul>li:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

