<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blog.mapper.mysql.ItemMapper">
    <select id="findItems" resultType="com.example.blog.model.Item">
        select * from driver limit #{limit},#{offset}
        <where>
            <!-- 重复说一下，id 不能是 int，int 默认是 0，不可能是 null, 而 Integer 可以是 null-->
            <if test="driverName!=null">
                driver.drivername like '%' #{driverName} '%'
            </if>
            <!--<if test="name!=null">-->
                <!--and name=#{name}-->
            <!--</if>-->
        </where>
        <!--<include refid="offsetAndLimit"/>-->
    </select>

    <select id="getTotalRows" resultType="Integer">
        select count(*) from driver
        <!--<where>-->
        <!--&lt;!&ndash; 重复说一下，id 不能是 int，int 默认是 0，不可能是 null, 而 Integer 可以是 null&ndash;&gt;-->
        <!--<if test="id!=null">-->
        <!--id=#{id}-->
        <!--</if>-->
        <!--<if test="name!=null">-->
        <!--and name=#{name}-->
        <!--</if>-->
        <!--</where>-->
    </select>

</mapper>

